.card {
  height: 350px;
}

.card-block {
  position: relative;
}

.card-block > .card-img-top {
  height: 50px;
  max-width: 100%;
  margin-bottom: 10px;
}

.card-title.ng-binding {
  height: 50px;
}

.tile-button {
  position: absolute;
  bottom: 1.25rem;
}



