
<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline"></h1>
                <div class="pictureattempt">
                </div>    

            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <hr>

    <div class="row">
        <div class="col-sm-8">
            <h2>Our Vision</h2>
            <p>The Qrowded platform will look to aggregate projects and campaigns from numerous leading alternative finance platforms spread across many different funding types. Qrowded will centralise projects from Equity, Debt, Rewards, Donations, Real Estate and Invoice Finance platforms, centralising these opportunities into our investor hub.</p>
            <p>
                <a class="btn btn-default btn-lg" href="#">Call to Action &raquo;</a>
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Contact Us</h2>
            <address>
                <strong>Qrowded Ventures</strong>
                <br>41 Carlton Drive
                <br>London, SW15 2DG
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>01580737845
                <br>
                <abbr title="Email">E:</abbr> <a href="mailto:#">jake@qrowded.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <div class="animated fadeIn row" >
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="./css/images/key.png" alt="">
            <h2>Single Access to Many Platforms</h2>
            <p>No more multiple log ins. A Qrowded key opens the gateway to the best alternative financing platforms across the world. Say goodbye to lots of tabs open, save time and never miss out on the best opportunities.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="./css/images/idea.png" alt="">
            <h2>Engage with Innovative Ideas</h2>
            <p>Search through the most creative and dynamic companies out there. Learn about what is happening in variety of different raw and disruptive ecosystems.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="./css/images/community.png" alt="">
            <h2>Join the Qrowded Community</h2>
            <p>Discuss opportunities with other like-minded people. Expand your network. Learn from each other.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Qrowded Ventures 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->




<!-- <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Qrowded</h1>
                            <p>Tagline.</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
   <!--/#page-breadcrumb-->

   <!--  <section id="company-information" class="padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="./css/images/key.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 padding-top">
                    <p>Some stuff about Qrowded</p>
                    <p>Some more stuff about Qrowded</p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="./css/images/money.png" alt="">
                        </div>
                        <h2>Make Money</h2>
                        <p>Get some p's</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="./css/images/ideas.png" alt="">
                        </div>
                        <h2>Ideas</h2>
                        <p>Engage with ideas</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="./css/images/community.png" alt="">
                        </div>
                        <h2>Community</h2>
                        <p>Join a community</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
