<!--  <div class="homerow">
  <div class="icon-line">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="./css/images/key.png" alt="Key">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="./css/images/money.png" alt="Key">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="./css/images/ideas.png" alt="Key">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="./css/images/community.png" alt="Key">
      </a>
    </div>
  </div>
</div> -->


<!-- one log in with access to multiple accounts -->
<!-- invest money -->
<!-- engage with innovative ideas -->
<!-- join a community -->

<section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Qrowded</h1>
                            <p>Tagline.</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="company-information" class="padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="./css/images/key.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 padding-top">
                    <p>Some stuff about Qrowded</p>
                    <p>Some more stuff about Qrowded</p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="./css/images/money.png" alt="">
                        </div>
                        <h2>Make Money</h2>
                        <p>Get some p's</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="./css/images/ideas.png" alt="">
                        </div>
                        <h2>Ideas</h2>
                        <p>Engage with ideas</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="./css/images/community.png" alt="">
                        </div>
                        <h2>Community</h2>
                        <p>Join a community</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <!-- <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">Triangle Corporate Template</h1>
                            <p>A responsive, retina-ready &amp; wide multipurpose template.</p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">
                                <a href="#" class="btn btn-common">TAKE THE TOUR</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--/#action