<div class="profilepage">
<h3>{{ users.user.local.username }}</h3>

<h4>Is interested in...</h4>

<ul>
    <li ng-repeat="interest in users.user.interests track by $index">{{interest}}</li>
</ul>


<!-- <ul>
    <li ng-repeat="interest in users.interests track by $index">{{interest}}</li>
</ul>
 -->

<div ng-if="users.params == users.currentUser.user_id" class="checkbox" >
    <ul>
        <li ng-if="users.hasInterest(interest)" ng-repeat="interest in users.interests track by $index"><input type="checkbox" value="{{ interest }}" ng-click="users.removeInterest(interest)" checked>{{interest}}</li>
        <li ng-if="!users.hasInterest(interest)" ng-repeat="interest in users.interests track by $index"><input type="checkbox" value="{{ interest }}" ng-click="users.addInterest(interest)">{{interest}}</li>
    </ul>
</div>
</div>


<!-- <div class="container">
    <br><p>Click all the fruits that you like</p>
    <div class="btn-group col-xs-12" data-toggle="buttons">
        <label class="btn btn-default">
            <input type="checkbox" name="fruit" id="apple" value="apple">apple
        </label>
        <label class="btn btn-default">
            <input type="checkbox" name="fruit" id="pear" value="pear">pear
        </label>
        <label class="btn btn-default">
            <input type="checkbox" name="fruit" id="orange" value="orange">orange
        </label>
    </div>
</div> -->